.card_position{
    display: flex;
    justify-content: center;
}

.card-post{
    border: 1px solid var(--secundary-color);
    color: white;
    width: 832px;
    height: 347px;
    padding: 5px;
    margin: 15px;
    font-family: 'Roboto', sans-serif;
}

.post-user{
    font-size: 60px;
    display: flex;
    margin-left: 50px;
}

.post-time{
    display: flex;
    justify-content: flex-end;
}

.username{
    display: flex;
    flex-direction: column;
    margin-top: -10px;
}

.post-text{
    display: flex;
    justify-content: start;
    margin: -10px 0px 0px 60px;
}

.user-info{
    display: flex;
}

.post-img{
    border: 1px solid var(--secundary-color);
    width: 720px;
    height: 185px;
    margin: 8px 56px 8px 56px;
}

.post-detail{
    width: 720px;
    justify-content: space-around;
}

.btn-flexpost{
    display: flex;
    margin-right: -115px;
    align-items: flex-start;
    justify-content: space-around;
}

.button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


.btngrade:active {
    background-image: url('./grade_full_red.png');
  }

