.card-post{
    border: 1px solid var(--secundary-color);
    color: white;
    width: 832px;
    height: 347px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.post-img{
    border: 1px solid var(--secundary-color);
    width: 720px;
    height: 185px;
    margin: 56px 8px 56px 8px;
}

.post-detail{
    width: 720px;
    justify-content: space-between
}