
  .Header {
    background-color: #101010;
    display: flex;
  }
  
  .Logo {
    src: local(Logo);
    background-color: var(--primary-color);
    width: 230px;
    height: 40px; 
    border-radius: 0px 20px 20px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000000;
    margin-left: -15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .Header input[type="text"]{
    border-radius: 17px;
    width: 260px;
    height: 24px;
    left: 653px;
    top: 8px;
    background: #202020;
    border: 0;
    text-align: start;
    margin: 7px 10px 0px 1300px;
    padding: 0px 10px 0px 10px;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
  }

  ::placeholder{
    font-family: 'Material Icons';
    font-size: 20px;
  }

  .UserIcon{
    font-size: 35px;
    color: #404040;
  }

  .button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}